<div class="container">
    <div class="row">
      <!-- <router-outlet></router-outlet> -->
      <!-- <div class="col-7">
        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
        <label for="reg-log"></label>
      </div>
      <div class="col-6 mx-auto d-block mt-5 pt-5">
        <div class="card px-4 mt-5 py-5">
          <form [formGroup]="imageForm">
            <fieldset>
              <legend>Generación de imagenes a partir de texto</legend>
              <div class="mb-3 pt-4">
                <label for="TextInput" class="form-label">Describe la imagen que quieres generar</label>
                <input type="text" id="TextInput" class="form-style" autocomplete="off"
                  placeholder="Ejemplo='Horse with wings in the ocean'" formControlName="prompt">
              </div>
              <div class="mb-3 pt-4">
                <label for="Select" class="form-label">Tamaño de imagen</label>
                <select id="Select" class="form-style" formControlName="size">
                  <option value="">Seleccionar</option>
                  <option value="small">Chica (256x256)</option>
                  <option value="medium">Mediana (512x512)</option>
                  <option value="big">Grande (1024x1024)</option>
                </select>
              </div>
              <button class="btn btn-dark mt-5 mx-auto d-block" (click)="generateImage()">Generar
                imagen</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-6 mx-auto mt-5 pt-5">
        <div class="card px-4 py-5 mt-5">
          <legend>Tu imagen aparecerá aquí:</legend>
          <img [src]="image" class="mx-auto" alt="Imagen generada" width="319px">
        </div>
      </div>
  
      <div class="col-6 mx-auto d-block my-5 pt-5">
        <div class="card px-4 mt-5 py-5">
          <form [formGroup]="completionForm">
            <fieldset>
              <legend>Generación de imagenes a partir de texto</legend>
              <div class="mb-3 pt-4">
                <label for="TextInput" class="form-label">Describe la imagen que quieres generar</label>
                <input type="text" id="TextInput" class="form-style" autocomplete="off"
                  placeholder="Ejemplo='Horse with wings in the ocean'" formControlName="textPrompt">
              </div>
              <button class="btn btn-dark mt-5 mx-auto d-block" (click)="createCompletion()">Descripción del código</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-6 mx-auto my-5 pt-5">
        <div class="card px-4 py-5 mt-5">
          <legend>{{code}}</legend>
        </div>
      </div> -->
    </div>
  </div>