<div class="w-98 px-0">


  <p class="text-center text-black fw-bold mt-4 pt-1" style="font-size: 24px;">Nuestro producto</p>
  <p class="text-center text-black px-5 my-4">Intensifica la diversión y el sabor de tus snacks con su delicioso, frutal y
    burbujeante sabor!</p>

  <div class="row">

    <div class="col-12 position-relative">
      <div class="chatbot">
        <form [formGroup]="completionForm">
          <div class="card" id="chat1" style="border-radius: 15px;">
            <div class="card-header d-flex p-3 bcg-info text-white border-bottom-0"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <img src="../assets/bot.png" alt="avatar 1" style="width: 45px; height: 100%;">
              <p class="mt-2 ms-3" style="font-weight: 500;">Ayudante Virtual</p>
            </div>
            <div class="card-body">

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="../assets/bot.png" alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: #9cc4e7">
                  <p class="text-black small mb-0">¡Hola!, ¿con que puedo apoyarte?</p>
                </div>
              </div>

              <ng-container *ngFor="let message of chatArray">
                <div class="d-flex flex-row justify-content-end mb-4" *ngIf="message.role==='user'">
                  <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #E8E8E8">
                    <p class="text-black small mb-0">{{message.code}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row justify-content-start mb-4" *ngIf="message.role==='assistant'">
                  <img src="../assets/bot.png" alt="avatar 1" style="width: 45px; height: 100%;">
                  <div class="p-3 ms-3" style="white-space: pre-line; border-radius: 15px; background-color: #9cc4e7">
                    <p class="text-black small mb-0">{{message.code}}</p>
                  </div>
                </div>
              </ng-container>
              <div class="d-flex flex-row justify-content-start mb-4" *ngIf="image!==''">
                <img src="../assets/bot.png" alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="ms-3" style="border-radius: 15px;">
                  <div class="bg-image">
                    <img src={{image}} style="border-radius: 15px;" alt="video" width="100%">
                    <a href="#!">
                      <div class="mask"></div>
                    </a>
                  </div>
                </div>
              </div>
         

            </div>  
            <div style="position: absolute; bottom: 50px;" *ngIf="typing">
              <img src="../assets/loader2.gif" alt="avatar 1" style="width: 100px; height: 100%;">
            </div>
            <div class="input-group"
              style="background-color: white; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
              <input class="form-control" formControlName="textPrompt"
                style="background-color: white;border:none; border-radius: 15px; font-size: 16px;"
                placeholder="Escribe tu mensaje aquí">
              <button class="send my-2 me-2" (click)="createCompletion()"><img src="../../../assets/send.svg" width="31px"
                class="ms-1" alt="" /> </button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>